{# empty Twig template #}
{% extends "TestBundle::layout.html.twig"  %}
{% block Erasebody %}
reservation effectuee
Nombre de  Restantes {{ reservation.places}}
<br>

<button onclick="history.back()" class="sub">Retour</button>
{%endblock%}
{% block Erasefooter %}
    {%endblock%}
